@import url("https://fonts.googleapis.com/css?family=Encode+Sans+Expanded|PT+Mono&display=swap");

html {
  height: 100%;
}

body {
  margin: 8px;
  min-height: calc(100% - 16px);
  display: grid;
  grid-template-rows: 1fr auto;
}

main,
footer {
  max-width: 90ch; /*TODO: change to fit format*/
  margin: auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.4;
}

form {
  width: 85%;
}

h2 {
  font-size: 1.75rem;
  font-family: "Encode Sans Expanded", sans-serif;
  text-align: center;
}

label {
  font-family: "Encode Sans Expanded", sans-serif;
}

select {
  font-family: "Encode Sans Expanded", sans-serif;
}

.separator-line {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

input {
  font-family: "Encode Sans Expanded", sans-serif;
}

a {
  color: #435a6b;
  text-decoration: none;
  padding: 8px 0;
  position: relative;
}

a:hover::after {
  /* make underline a little further below text */
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 5px;

  border-width: 0 0 1px;
  border-style: solid;
}

button {
  font-family: "Encode Sans Expanded", sans-serif;
  font-size: 1em;
}

.buttons {
  text-align: center;
}

.bottom-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  height: 3rem;
  width: 30ch;
  max-width: 100%;

  font-family: "Encode Sans Expanded", sans-serif;
  font-size: 12px;
}

#pw-text {
  width: 97.5%; /* idk why this is too long otherwise */
  margin-bottom: 0.5em;
}

#pw-separators {
  float: right;
  width: calc(100% - 11ch);
}
